.wrapper{
  margin: 0px auto;
}
.wrapper.sm{
  max-width: 768px;
}
.wrapper.md{
  max-width:1024px;
}
.wrapper.lg{
  max-width:1440px;
}
.wrapper.fw{
 
}

/* -_- -_- -_- -_- -_- -_- -_- -_- -_- -_- -_- -_- -_- -_- -_- */